<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/index']"><i class="bi bi-house"></i></a>
                </li>

                <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/pagea']"><i class="bi bi-newspaper"></i></a>
                </li>

                <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/pageb']"><i class="bi bi-translate"></i></a>
                </li>

                <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/pagec']"><i class="bi bi-car-front-fill"></i></a>
                </li>

                <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/paged']"><i class="bi bi-journal-text"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>